@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is tutorial project to use GitHub-VS2015-Azure Continuous Deployment</p>
<p>- Created By Nitin Jenekar</p>
<p>(Dot Net Developer with experience in WCF, Web API, MVC, ASP.NET applications.)</p>
