@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Product Sales Customer Portal</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers","Index","Customers") </h2>


    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Products", "Index", "Products")</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("SalesOrderDetails", "Index", "SalesOrderDetails")</h2>

    </div>
</div>